html, body {
    padding: 0;
    margin: 0;
  }
  
  input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
  }

.two-blocks-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
  }
  
  .two-blocks {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 49%;
    border-radius: 5%;
  }
  
  @media (min-width: 900px) {
    .two-blocks-container {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .two-blocks:nth-child(1) {background-color: #c0dbe2;}
  .two-blocks:nth-child(2) {background-color: #cdf1c3;}

  .two-blocks li {
  list-style: none;
  }
  

